---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #1b4ad5;
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    border-radius: 90px;
    overflow: clip;
  }
</style>
